<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="End1" />
                <binding name="End11" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="End4" />
                <binding name="End41" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="End3" />
                <binding name="End31" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="End2">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
                <binding name="End21">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8085/evals/basic" binding="basicHttpBinding"
                bindingConfiguration="End1" contract="EvaluateServiceReference.IEvalService" name="End1" />
            <endpoint address="http://localhost:8085/evals/ws" binding="wsHttpBinding"
                bindingConfiguration="End2" contract="IEvalService" name="End2" />
            <endpoint address="net.tcp://localhost:8081/evals" binding="netTcpBinding"
                bindingConfiguration="End3" contract="IEvalService" name="End3">
                <identity>
                    <userPrincipalName value="RAFAPRI\Rafael" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/evals" binding="netNamedPipeBinding"
                bindingConfiguration="End4" contract="EvaluateServiceReference.IEvalService" name="End4">
                <identity>
                    <userPrincipalName value="RAFAPRI\Rafael" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8085/evals/basic" binding="basicHttpBinding"
                bindingConfiguration="End11" contract="EvaluateServiceReference.IEvalService"
                name="End11" />
            <endpoint address="http://localhost:8085/evals/ws" binding="wsHttpBinding"
                bindingConfiguration="End21" contract="EvaluateServiceReference.IEvalService"
                name="End21" />
            <endpoint address="net.tcp://localhost:8081/evals" binding="netTcpBinding"
                bindingConfiguration="End31" contract="EvaluateServiceReference.IEvalService"
                name="End31">
                <identity>
                    <userPrincipalName value="RAFAPRI\Rafael" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/evals" binding="netNamedPipeBinding"
                bindingConfiguration="End41" contract="EvaluateServiceReference.IEvalService"
                name="End41">
                <identity>
                    <userPrincipalName value="RAFAPRI\Rafael" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>