<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="MessageLog">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="F:\Quick\Projects\SolutionMcts70-513\ProductsService.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="MessageLog" traceOutputOptions="None">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="AdventureWorks2008R2_DataEntities" connectionString="metadata=res://*/ProductsModel.csdl|res://*/ProductsModel.ssdl|res://*/ProductsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AdventureWorks;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
	<system.serviceModel>
		<diagnostics>
   <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true"
    logMessagesAtTransportLevel="true" />
  </diagnostics>    
  <bindings>
   <basicHttpBinding>
    <binding name="ProductsServiceBasicHttpBindingConfig">
      <security mode="Transport">
        <transport clientCredentialType="Windows">          
        </transport>
      </security>      
    </binding>
   </basicHttpBinding>
   <netTcpBinding>
    <binding name="ProductsServiceTcpBindingConfig">
     <security mode="Message">
      <message algorithmSuite="Basic128" clientCredentialType="Windows" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
  <services>
   <service name="ProductsServiceLibrary.ProductsServiceImpl">
    <endpoint address="net.tcp://localhost:8080/TcpService" binding="netTcpBinding"
     bindingConfiguration="ProductsServiceTcpBindingConfig" name="NetTcpBinding_IProductsService"
     contract="ProductsServiceLibrary.IProductsService" />
    <endpoint address="https://localhost:8000/ProductsService/Service.svc"
     binding="basicHttpBinding" bindingConfiguration="ProductsServiceBasicHttpBindingConfig"
     name="BasicHttpBinding_IProductsService" contract="ProductsServiceLibrary.IProductsService" />
     <endpoint address="http://localhost:8010/ProductsService/Service.svc"
     binding="ws2007HttpBinding" bindingConfiguration=""
     name="WS2007HttpBinding_IProductsService" contract="ProductsServiceLibrary.IProductsService" />
   </service>
  </services>
  <behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="false"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>

          <serviceAuthorization principalPermissionMode="UseWindowsGroups">
          </serviceAuthorization>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
</configuration>
