<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehaviorEnd">
          <endpointDiscovery />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8085/evals/meta" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="MyWsBinding">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="NewBehavior" name="EvaluateService.EvalService">
        <endpoint address="http://localhost:8085/evals/basic" binding="basicHttpBinding"
          name="End1" contract="EvaluateService.IEvalService" />
        <endpoint address="http://localhost:8085/evals/ws" binding="wsHttpBinding"
          bindingConfiguration="MyWsBinding" name="End2" contract="EvaluateService.IEvalService" />
        <endpoint address="net.tcp://localhost:8081/evals" binding="netTcpBinding"
          name="End3" contract="EvaluateService.IEvalService" />
        <endpoint address="net.pipe://localhost/evals" binding="netNamedPipeBinding"
          name="End4" contract="EvaluateService.IEvalService" />
        <endpoint address="http://localhost:8085/evals/mex" binding="mexHttpBinding"
          name="EndMex" contract="IMetadataExchange" />
        <endpoint address="net.tcp://localhost:8081/evals/mex" binding="mexTcpBinding"
          name="EndMexTcp" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>